.header {
    width: 67%;
    display: flex;
    justify-content: space-between;
    height: 9vh;
    align-items: center;
    position: fixed;
    top: 0;
    color: #fff;
    z-index: 100;
} 
.black {
    color: black;
}
.header_logo {
    flex: 1;
    height: 30%;
}
.header_navbar {
    flex: 4;
}
.menu_list {
    display: flex;
    justify-content: space-around;
}
.menu_el {
    margin-right: 0.2rem;
}
.logo_img {
    height: 100%;
}
.header_contacts {
    display: flex;
    align-items: center;
}
.contact_icon_wrapper {
    margin-right: 0.5rem;
}
.invisible {
    display: none;
}
.wrapper_sandwich {
    width: 40px;
}
.hamburger {
    width: 100%;
}
.wrapper_sandwich {
    display: none;
}
.wrapper_mobile_menu {
    position: relative;
}
.header_navbar--mobile {
    position: absolute;
    bottom: -375px;
    left: -60px;
    transition: bottom 1s ease;
}
.menu_list--mobile {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(189, 192, 255, 1) 100%);
    color: #333333;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.menu_el--mobile {
    padding: 1rem 2rem;
    border-bottom: 1px solid #333333;
}
@media (max-width: 1200px) {
    .header_navbar {
        display: none;
    }
    .wrapper_sandwich {
        display: block;
    }
}
@media (max-width: 990px) {
    .card_el--shem--down .container_card:nth-child(2)  {
        margin-left: 0;
    
    }
    .header {
        width: 90%;
    }
}