.wrapper_section--shem {
    background-image: none;
    color: black    ;
}
.container_section--shem {
    display: flex;
    flex-direction: column;
}
.description--shem {
   text-align: center; 
}
.card_list--shem {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.wrapper_three {
    width: 100%;
    display: flex;
}
.card_el--shem, .card_el--shem--down {
    background-image: url('../src/shem/image.png');
    background-size: 100% 100%;
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    height: 20rem;
    
    
}
.card_el--shem--down {
    display: flex;
    justify-content: end;
}

.container_card {
    display: flex;
    margin: 2rem;
    color: #fff;
}
.wrapper_id_card {
    margin-right: 1.5rem;
    width: 7rem;
}
.id_card {
    width: 100%;
}
.content_card_container {
    display: flex;
    flex-direction: column;
}
.description_card--shem {
    text-align: start;
    color: #E3E3E3;
}
.title_card {
    font-size: 1rem;
    font-weight: bold;
}
.card_el--shem:nth-child(1) {
    width: 27.43rem;
    height: 16.81rem;
    background-image: url('../src/shem/1.png');

}
.mobile {
    display: none;
}
.desctop {
    display: block;
}
.card_el--shem:nth-child(2) {
    width: 27.43rem;
    height: 16.81rem;
    background-image: url('../src/shem/2.png');

}
.wrapper_carousel {
    margin-bottom: 1.2rem;
}
.card_el--shem:nth-child(3) {
    width: 25.81rem;
    height: 18.625rem;
    background-image: url('../src/shem/3.png');

} 

.card_el--shem--down:nth-child(1) {
    background-image: url('../src/shem/6.png');
    width: 25.81rem;
    height: 16.81rem;
}
.card_el--shem--down:nth-child(2) {
    background-image: url('../src/shem/5.png');


    width: 27rem;
    height: 16.81rem;

}
.card_el--shem--down:nth-child(3) {
    background-image: url('../src/shem/4.png');


    width: 27.43rem;
    height: 16.81rem;

}
.square {
    position: absolute;
    width: 100%;
    height: 100%;
    width: calc(100% + 40px);
}
.desctop {
    display: block;
}
.el_card--shem {
    width: calc(50% - 2rem);
    margin-bottom: 1rem;
}
.el_card--shem:nth-child(2n-1) {
    margin-right: 2rem;
  }
.list_card--shem {
    display: flex;
    flex-wrap: wrap;
}
.description_why {
    text-align: center;
    margin-bottom: 1.2rem;
}
.el_card_container {
    display:flex;
    align-items: center;
    padding: 0 1rem ;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(242,242,244,1) 0%, rgba(189, 192, 255, 1) 100%);
    display: flex;
}
.id_card-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin-right: 2rem;
}
.img_card--mobile {
    height: 50%;

}
@media (max-width: 990px) {
    .card_el--shem--down .container_card:nth-child(2)  {
        margin-left: 0;
    
    }
}
@media (max-width: 860px) {
    .desctop {
        display: none;
    }
    .mobile {
        display: block;
    }
}