.wrapper_section--shem {
    background-image: none;
    color: black    ;
}
.container_section--shem {
    display: flex;
    flex-direction: column;
}
.description--shem {
   text-align: center; 
}
.card_list--shem {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.card_el--shem {
    width: calc(33% - 2rem);
    background-image: url('../src/shem/image.png');
    background-size: 100% 100%;
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    height: 20vh;
    width: 33%;
}
.card_el--shem {
    transform: translate(-0.3rem);
}
.card_el--shem:first-of-type {
    transform: none;
}
.card_el--shem:nth-child(-n+2) {
    background-size: 100% 90%;
}
.card_el--shem:nth-child(3) {
    background-image: url('../src/shem/image\ copy\ 2.png');

    transform: translateX(-0.6rem); /* Горизонтальное смещение на 1.8 единиц */
}
.card_el--shem:nth-child(6) {
    background-image: url('../src/shem/image\ copy\ 3.png');
}
.card_el--shem:nth-child(5) {
    background-image: url('../src/shem/image\ copy.png');
}
.card_el--shem:nth-child(4) {
    background-image: url('../src/shem/image\ copy\ 4.png');
}
.card_el--shem:nth-child(4) {
    background-size: 95% 90%;
}
.card_el--shem:nth-child(5) {
    background-size: 100% 90%;
    transform: translate(-1.6rem);

}
.card_el--shem:nth-child(6) {
    background-size: 100% 90%;
    transform: translate(-1.6rem);
}
.square {
    position: absolute;
    width: 100%;
    height: 100%;
    width: calc(100% + 40px);
    
}

.hei {
    height: calc(100% + 30px);
}