.wrapper_section--why {
    color: #111111;
    background: none;
}
.container_section--why {
    flex-direction: column;
    align-self: center;
    justify-content: center;
}
.title_wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    align-items: center;
}
.title_why {
    margin-bottom: 1.2rem;
}
.container_cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.card_list {
    display: flex;
    width: 90%;
    flex-wrap: wrap; 
    justify-content: center;
}
.card_el {
    width: calc(32% - 2%); /* 3 элемента в строку с отступами между ними */
    margin-right: 5%; /* Отступы между элементами */
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3%;
    position: relative;
    overflow: hidden;
  }
  .card_el::before {
    position: absolute;
    right: 0;
    bottom: -200px;
    content: url("./../src/why/obj.png");
  }
  
  .card_el:nth-child(3n) {
    margin-right: 0; /* Убираем отступ у каждого третьего элемента */
  }
  .card_el:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
  .wrapper_card_img {
    width: 115px;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .img_card {
    width: 100%;
  }
  .title_card {
    margin-bottom: 10%;
  }
  .description_card {
    margin-bottom: 10%;
    text-align: center;
    width: 80%;
  }
  .item:nth-last-child(-n+3) {
  margin-right: 0;
}
.title_why {
  text-align: center;
}
@media (max-width: 990px) {
  .title_section--why {
    height: fit-content;
  }
    .wrapper_section {
      height: fit-content;
    }
    .container_section--why {
      height: fit-content;
    }
    .card_el {
      width: 100%;
      margin: 0;
      margin-bottom: 1rem;
    }
    .card_el:nth-child(1) {
      margin-bottom: 1rem;
    }
    .card_el:nth-child(2) {
      margin-bottom: 1rem;
    }
    .card_el:nth-child(3) {
      margin-bottom: 1rem;
    }
    .card_el:nth-child(4) {
      margin-bottom: 1rem;
    }
    .card_el:nth-child(5) {
      margin-bottom: 1rem;
    }
    .card_el:nth-child(6) {
      margin-bottom: 0;
    }
   
}
@media (max-width: 440px) {
  .el_card--shem {
    width: 100% !important;
  }
  .el_card--shem:nth-child(2n - 1) {
    margin-right: 0 !important;
  }
  .el_card--shem {
    margin-right: 0;
  }
}